* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}
body {
  background: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 97vh;
}
.container {
  margin-top: 20px;
  margin-left: 20px;
  width: 440px;
  height: 500px;
  overflow: auto;
  padding: 10px;
  margin: 20px auto;
}
.friend-suggestion {
  backdrop-filter: blur(20px);
}
.profile-box {
  width: 400px;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #e7e7e72d;
  backdrop-filter: blur(20px);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  transition: 0.2s;
}
.profile-box:hover {
  background-color: #ffffff73;
  cursor: pointer;
}
.img-div {
}
.img-div img {
  width: 75px;
  border-radius: 50%;
}
.txt-div {
  margin-left: 10px;
}
.social-icon {
  display: flex;
  gap: 15px;
}
.single-channel {
  display: flex;
  align-items: center;
  margin: 10px;
}
.single-channel {
  background-color: #3e72da;
  display: flex;
  justify-content: center;
  width: 145px;
  height: 36px;
  margin: 0;
  margin-top: 5px;
  border-radius: 5px;
}
.fa-solid,
.fa-brands {
  font-size: 20px;
}
.message-section {
  background-color: #e5e2e2;
}
.message-section > a > i,
.message-section > a > .text-size {
  color: black;
}
.single-channel a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.text-size {
  position: relative;
  top: -2px;
}
.txt-div .single-channel img {
  width: 40px;
  margin-top: -8px;
  margin-bottom: -12px;
  padding: 5px;
}

.show-more {
  color: #000;
}
.show-more-h2 {
  text-align: center;
  backdrop-filter: blur(20px);
}
/* Scroll Bar Design */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  backdrop-filter: blur(20px);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  backdrop-filter: blur(20px);
}
